.content {
  width: 70%;
  margin: auto;
  display: flex;
  border-radius: 1em;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.todo-list-header {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

/* add todo */

.add-todo {
  width: 40%;
  border-right: 1px solid #cdcdcd;
}

.add-todo-content {
  width: 90%;
  margin: auto;
}

/* todo list */
.todo-list {
  width: 60%;
}

/* btn add */
.btn-add {
  width: 100%;
  justify-content: center;
}

/* to do item */
.to-do-item {
  border: 1px solid #cdcdcd;
  flex-direction: column;
  margin: 0;
}

.btn-action {
  width: 100px;
}

.item-side-left {
  display: flex;
  align-items: center;
}

.to-do-item-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.form-check-input {
  margin-right: 10px;
  margin-bottom: 2px;
}

.detail-to-do {
  border: 1px solid #cdcdcd;
}

.bulk-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #cdcdcd;
  animation: showIn 1s ease-in-out;
}

@keyframes showIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
